
@{
    ViewBag.Title = "Mes_negociations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <h2>Mes négociations</h2>
    <div class="row">
        <div class="col-sm-4 one-commande">
            <div class="commande-details">
                <img src="Images/blog-3.jpg" width="150" alt="">
                <div class="commande-text">
                    <p>Sacs de légumes</p>
                    <p>Quantité : 2</p>
                    <p>Prix normal : <span class="badge">15000 FCFA</span></p>
                    <p class="badge">Prix proposé : 13000 FCFA</p>
                    <div class="row">
                        <button class="btn btn-success">Accepté</button>
                        <a href="#" class="btn btn-primary">Acheter</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 one-commande">
            <div class="commande-details">
                <img src="Images/blog-3.jpg" width="150" alt="">
                <div class="commande-text">
                    <p>Sacs de légumes</p>
                    <p>Quantité : 2</p>
                    <p>Prix normal : <span class="badge">15000 FCFA</span></p>
                    <p class="badge">Prix proposé : 10000 FCFA</p>
                    <button class="btn btn-danger">Refusé</button>
                </div>
            </div>
        </div>
    </div>
</div>

