
@{
    ViewBag.Title = "Forgot_password";
    Layout = "~/Views/Shared/_LayoutBlanck.cshtml";
}
<div class="content-img" style="background-image:url(~/Content/Images/image_1.jpg)">
    <div class="container">
        <div class="form-center row justify-content-center">
            <div class="formulaire ">
                <h4 class="text-center"><span>Mot de passe oublié</span></h4>
                <form action="" method="post">
                    <div class="form-group">
                        <div class="row">
                            <input type="text" class="col-sm-9 form-control" name="Email" placeholder="Entrez votre adresse mail">
                        </div>
                    </div>
                    <button type="submit" class="btn-log">Changer le mot de passe</button>
                </form>
                <p class="btn-reg">Mot de passe retrouvé ? <a href="~/Auth/Login" class="btn btn-outline-info">connectez-vous</a></p>
            </div>
        </div>
    </div>
</div>

