
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutBlanck.cshtml";
}
<div class="content-img" style="background-image:url(~/Content/Images/image_1.jpg)">
    <div class="container">
        <div class="form-center row justify-content-center">
            <div class="formulaire ">
                <div class="anime">
                    <div class="logo-design">
                        <h4>Le<span>Coin</span></h4>
                    </div>
                </div>
                <h4 class="text-center"><span>Connectez-vous</span></h4>
                <form action="" method="post">
                    <div class="form-group">
                        <div class="row">
                            <i class="col-sm-2 fa fa-user fa-2x"></i>
                            <input type="text" class="col-sm-9 form-control" name="Email" placeholder="Email">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <i class="col-sm-2 fa fa-key fa-2x"></i>
                            <input type="password" class="col-sm-9 form-control" name="MotDePasse" placeholder="Mot de passe">
                        </div>
                    </div>
                    <!-- @if (ViewBag.error != null)
                     {
                         <div class="container alert-danger" role="alert">
                             <p>Vérifiez vos identifiants</p>
                         </div>
                     }
                     -->
                    <a href="~/Auth/Forgot_password">Mot de passe oublié ?</a>
                    <button type="submit" class="btn-log">connexion</button>
                </form>
                <p class="btn-reg">Vous n'avez pas de compte ? <a href="~/Auth/Register" class="btn btn-outline-info">Inscrivez-vous</a></p>
            </div>
        </div>
    </div>
</div>

